
/**
 *      modal section defs
 **/

#lightbox_container {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

#lightbox {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

#lightbox > div > #lightbox_close {

    float: right;

}

#lightbox_close:hover,
#lightbox_close:focus {
    color: grey;
    text-decoration: none;
    cursor: pointer;
}

.img-thumbnail:hover{
    cursor: pointer;
}

#lightbox_full_img {
  max-width: 80vw;
  max-height: 80vh;

}
